# Assignment 1

1.

*  	Expression (Mathematical Operator for multiplication)
‘hello’ 	Value (str)
-87.8 	Value (float)
- 	Expression (Mathematical Operator for subtraction)
/ 	Expression (Mathematical Operator for division)
+ 	Expression (Mathematical Operator for addition)
6 	Value (int)

2.

Difference between string and variable:
A string is a value which is a combination of characters e.g “hello”
A variable is a placeholder for values. A variable e.g. var can hold different values. e.g. 
var = 12
var = “hello”
A variable stores a particular value which can be retrieved later.

3.

Three different data types:

int - Integer values are of this data type

float - Decimal values are of this data type

str - sequence of characters written inside inverted commas e.g. “world”

4.

An expression is made of operators and operands. Operands can be values or variables that store values. An expression is evaluated by performing operations with the operators on the operands.

5. 

An assignment statement assigns a value to a variable. An expression returns a value but an assignment statement does not.

6.

bacon contains the value 22

7.

‘spamspamspam’
‘spamspamspam’

8. 

A variable’s name cannot start with a number. Since 100 starts with 1, it is not a valid variable name. But eggs is a valid variable.

9.

int() function can be used to get integer version of a value
float() can be used to get the float version of a value
str() function can be used to get the string version of a value

10.

‘I have eaten ’ + 99 + ‘ burritos.’
In this expression, 99 is an int data type. ‘I have eaten’ and ‘burritos’ are of str data type. Addition/concatenation operation of str and int data types is not allowed. So this expression causes error. We can convert 99 to str for this expression to evaluate.
‘I have eaten ‘ + str(99) + ‘burritos’

In [3]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'