# Assignment 4

1.

[] is an empty list. It's data type is list.

In [1]:
type([])

list

2.

We can use the assignment operator to set the value at the 3rd position i.e. at index 2

In [2]:
spam = [2, 4, 6, 8, 10]
spam

[2, 4, 6, 8, 10]

In [3]:
spam[2] = 'hello'
spam

[2, 4, 'hello', 8, 10]

3.

'3' is of type str. So multiplying it by 2, we get '33'. Using the int() function, we get 33 of int datatype. Then dividing 33 by 11, we get 3.0 and upon using int() we get 3.

So this operation yields the value spam[3] which is 'd'

In [6]:
spam = ['a', 'b', 'c', 'd']
spam[int(int('3'*2)/11)]

'd'

4.

Negative indices count from the last of the list. So, -1 returns the last value of the list which is 'd' here.

In [7]:
spam[-1]

'd'

5.

This expression returns the elements from index 0 up to 2, but excluding 2. So it returns a list of elements from index 0 to 1. So, the answer is ['a', 'b']

In [8]:
spam[:2]

['a', 'b']

6.

list.index function returns the index of the element given as argument if it is present in the list. If not, it returns -1.
bacon.index('cat') returns 1. It searches from the first element and returns the first matching element's index.

In [9]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.index('cat')

1

7.

bacon.append(99) adds 99 at the end of the list. So the list is now [3.14, 'cat', 11, 'cat', True, 99]

In [10]:
bacon.append(99)

In [11]:
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

8.

bacon.remove('cat') removes the first found element 'cat'. It searches from the first element. So, it removes the 'cat' element at index = 1. The resulting list is [3.14, 11, 'cat', True]

In [12]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.remove('cat')

In [13]:
print(bacon)

[3.14, 11, 'cat', True]

9.

list concatenation is done using the + operator. List replication can be done using the .copy method of the list type, or using [:] operation

In [15]:
l1 = [1,2]
l2 = [3,4]
l_concat = l1 + l2
l_repl = l1.copy()
l_repl2 = l1[:]
print(l_concat)
print(l_repl)
print(l_repl2)

[1, 2, 3, 4]
[1, 2]
[1, 2]

10.

append method can only insert an element at the end of a list. It accepts 1 argument.
insert method can insert an element at any position of the list. It accepts 2 arguments.

11.

list.remove function and list.pop function can be used.

12.

Both characters in a string and elements of a list can be iterated using the indices. A string is like a list or sequence of characters. An element of a string or a list can be retrieved using its index.

13.

Tuples are immutable. i.e. once the values of the elements are set, the individual elements cannot be modified. But a list is mutable. Each element can be modified.

14.

A tuple with one element must have a , added after the element.

In [23]:
t = (42,)

In [24]:
print(t)
print(type(t))

(42,)
<class 'tuple'>

15.

By using tuple() function, we can get the tuple form of a list.
By using list() function, we can get the list form of a tuple.

In [27]:
l = [1,2,3,4]
t_l = tuple(l)
print(l, type(l))
print(t_l, type(t_l))

[1, 2, 3, 4] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>

In [28]:
t = (1,2,3,4)
l_t = list(t)
print(t, type(t))
print(l_t, type(l_t))

(1, 2, 3, 4) <class 'tuple'>
[1, 2, 3, 4] <class 'list'>

17.

copy.deepcopy() creates a deep copy of a collection e.g a new list is created whose elements are also copies of the elements in the original list.

copy.copy() creates a shallow copy of a collection. e.g. a new list is created whose elements are the same elements as those in the original list.

In [30]:
'''shallow copy'''

import copy

l = [1,2,[3,4]]
s_l = copy.copy(l)
#modifying s_l does not change l
s_l[0] = 2
print('copy:',s_l)
print('original:', l)
#modifying the elements e.g the list [3,4] inside s_l will change l
s_l[2][0] = 'changed'
print('copy:',s_l)
print('original:', l)

copy: [2, 2, [3, 4]]
original: [1, 2, [3, 4]]
copy: [2, 2, ['changed', 4]]
original: [1, 2, ['changed', 4]]

In [31]:
'''deep copy'''

l = [1,2,[3,4]]
d_l = copy.deepcopy(l)
#modifying s_l does not change l
d_l[0] = 2
print('copy:',d_l)
print('original:', l)
#modifying the elements e.g the list [3,4] inside d_l will also not change l
d_l[2][0] = 'changed'
print('copy:',d_l)
print('original:', l)

copy: [2, 2, [3, 4]]
original: [1, 2, [3, 4]]
copy: [2, 2, ['changed', 4]]
original: [1, 2, [3, 4]]